/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/.vscode
target
Test.db
.classpath
.project
.settings/
.vscode/
.*
/dokumentaatio/*.bak
/src/main/java/shoplistgener/UI.java
